<div class="container">
    <h1>Artworks List</h1>
    <div class="row">
      @for (artwork of quadres | artworkFilter:filter; track artwork.id) {
      <div class="col">
        <app-artwork
          [artwork]="artwork"
          [isLikeEnabled]="isLikeEnabled"
          (likeChanged)="toggleLike($event, artwork)"
        ></app-artwork>
      </div>
      }
  
      <table class="table">
        @if(loading) {
        <div *ngIf="loading" class="loading-overlay">
          <div class="spinner"></div>
        </div>
  
        }@else{
  
        <tbody>
          @for (artwork of quadres; track artwork.id) {
          <tr app-artwork-row [artwork]="artwork"></tr>
          }
        </tbody>
  
        }
      </table>
    </div>
  </div>
  
