.card {
    padding: 2em;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    background-color: #34495e; /* Azul oscuro */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    color: #ecf0f1; /* Blanco */
}

.error {
    color: #e74c3c; /* Rojo */
    font-weight: bold;
    font-size: 0.8em;
    display: block;
}

.submit-button {
    width: auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #2ecc71; /* Verde */
    color: #ffffff; /* Blanco */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #27ae60; /* Verde más oscuro */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2em;
    width: 100%;
    height: 100%;
}

.title {
    font-weight: bold;
    color: #f39c12; /* Naranja */
    font-size: 2em;
}

.login {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdc3c7; /* Gris claro */
}
