<div class="login">
  <!-- Jumbotron -->
  <mat-card class="card">
    <mat-card-header class="title">Login</mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          [class.invalid]="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty ||
              loginForm.get('email')?.touched ||
              isSubmitted)
          "
        />
        @if (loginForm.get('email')?.hasError('required')&&
        (loginForm.get('email')?.dirty || loginForm.get('email')?.touched
        || isSubmitted)) {
        <mat-error>Email is required</mat-error>
        } @if (loginForm.get('email')?.hasError('email')&&
        (loginForm.get('email')?.dirty || loginForm.get('email')?.touched
        || isSubmitted)) {
        <mat-error>Invalid email format</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
          [class.invalid]="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched ||
              isSubmitted)
          "
        />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        @if(loginForm.get('password')?.hasError('required') &&
        (loginForm.get('password')?.dirty || loginForm.get('password')?.touched
        || isSubmitted)) {
        <mat-error>Password is required</mat-error>
        } @if (loginForm.get('password')?.hasError('minlength')&&
        (loginForm.get('password')?.dirty || loginForm.get('password')?.touched
        || isSubmitted)) {
        <mat-error>Password length must be at least 4 characters</mat-error>
        }
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-button"
      >
        Submit
      </button>
      <button mat-raised-button color="link" color="accent" (click)="signUp()">
        Don't have an account yet? Sign up
      </button>
    </form>
  </mat-card>
</div>