<!-- <h2 [ngStyle]="{ 'color': quadre.date_start < 1900 ? 'blue' : '#FF0000' }">
  {{ quadre.title }}
</h2>

<h2 [ngClass]="{'vintage': quadre.date_start < 1900}">
    {{ quadre.title }}
  </h2>
<img
  src="https://www.artic.edu/iiif/2/{{
    quadre.image_id
  }}/full/843,/0/default.jpg"
  alt=""
/> -->

<!-- ASI SE HACIAN ANTES LOS FOR -->
<!-- <div *ngFor="let quadre of quadres; let i = index">
    <h2 [ngClass]="{ vintage: quadre.title }">{{ quadre.title }}</h2>
    <img
      src="https://www.artic.edu/iiif/2/{{
        quadre.image_id
      }}/full/843,/0/default.jpg"
      alt=""
    />
  </div>

<div class="container">
  <app-atworks-list></app-atworks-list>
</div>
-->
<router-outlet></router-outlet>
